body {
  padding: 20px;
  font-size: 16px;
}

h1, h2 {
  text-align: center;
}

span {
  border: 1px solid #DADADA;
  border-radius: 3px;
  background-color: #EFEFEF;
  padding: 1px 2px;
  color: #E21E98;
}